<div class="foods-header">
    <div class="left-header">
      <h2>食品一覧</h2>

    </div>
  <div class="right-header">
    <div class="header-button">
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>
  </div>
</div>

<div class="all_foods">
  <% @foods.each do |foods| %>
    <% if user_signed_in? && current_user.id == foods.user_id %>

      <li class='list'>
        <div class="food_name-qqq">
          名目
          <%= foods.name %>
        </div>

        <div class="amount_of_protein_value-qqq">
          プロテイン含有量
          <%= foods.amount_of_protein %>
        </div>

        <div class="number-qqq">
          数量
          <%= foods.number %>
        </div>

        <div class="food-edit">
          <%= link_to '変更する', edit_food_path(foods.id), method: :get, class:'food-edit' %>
        </div>


        <div class="food-destroy">
          <%= link_to '削除', food_path(foods.id), method: :delete, class:'food-destroy' %>
        </div>
      </li>

    <% end %>
  <% end %>
  
</div>


  <div class="add-food-content">
    <div class="add-food">
    <% @course.find do |course| %>
    <% if current_user.id == course.user_id %><%# <%ログインユーザーとコースモデルのユーザーidが同じ場合(コースの選択をしている人) %>
      <h3><%=link_to '食品を追加する', new_food_path, class:"add-btn" %></h3>
    <% else %>
      <h3><%=link_to '※コースを選択してください', courses_path, class:"acc-btn" %></h3>
    <% end %>
    <% end %>

    </div>
  </div>

</div>