<div class="foods-header">
    <div class="left-header">
      <h2>食品一覧</h2>
      <%# <%= @course.course_name.weight %> %>
    </div>
  <div class="right-header">
    <div class="header-button">
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>
  </div>
</div>

<div class="all_foods">

  <div class="food_name-qqq">
    <%# <h3>名目</h3>
    <%= f.text_field :name, class:"", id:"" %> %>
  </div>

  <div class="amount_of_protein_value-qqq">
    <%# <h3>プロテイン含有量</h3>
    <%= f.text_field :amount_of_protein_value, class:"", id:"" %> %>
  </div>

  <div class="number-qqq">
    <%# <h3>数量</h3>
    <%= f.text_field :number, class:"", id:"" %> %>
  </div>
</div>

  <div class="add-food-content">
    <div class="add-food">
      <h3><%=link_to '食品を追加する', new_food_path, class:"add-btn" %></h3>
    </div>
  </div>
</div>
